doctype html
html
  head
    title= title
    script(src="https://www.gstatic.com/charts/loader.js")
  body
    div#chart
    script.
      google.charts.load("visualization", "current", {packages: ["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var chart;
        var div = document.getElementById("chart");

        var options = {
          title: "Temperature and humidity over the past week",
          height: 600,
          series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1},
            2: {targetAxisIndex: 0}
          },
          vAxes: {
            0: {
              title: "Temperature C\u00B0",
              format: "# C\u00B0"
            },
            1: {
              title: "Humidity %",
              format: "#' %'",
              minValue: 0,
              maxValue: 100
            }
          },
          curveType: "function",
          focusTarget: "category",
          colors: ["#dc3912", "#3366cc", "#109618"]
        };

        var data = new google.visualization.DataTable();
        data.addColumn("datetime", "Time");
        data.addColumn("number", "Temperature 30 min avg");
        data.addColumn("number", "Humidity 30 min avg");
        data.addColumn("number", "Dew Point");

        var dataRaw = JSON.parse('!{data}');
        var dewPoint;
        var dewPointK;
        dataRaw.forEach(function (element) {
          dewPointK = Math.log(element.humidity / 100) + (17.62 * element.temperature) / (243.12 + element.temperature);
          dewPoint = 243.12 * dewPointK / (17.62 - dewPointK);
          data.addRow([
            new Date(element.time),
            element.temperature,
            element.humidity,
            dewPoint
          ]);
        });

        var timeFormatter = new google.visualization.DateFormat({
          pattern: "EEEE dd.MM.yyyy HH:mm"
        });
        var temperatureFormatter = new google.visualization.NumberFormat({
          fractionDigits: 1,
          suffix: " C\u00B0"
        });
        var humidityFormatter = new google.visualization.NumberFormat({
          fractionDigits: 1,
          suffix: " %"
        });

        timeFormatter.format(data, 0);
        temperatureFormatter.format(data, 1);
        humidityFormatter.format(data, 2);
        temperatureFormatter.format(data, 3);

        chart = new google.visualization.LineChart(div);
        chart.draw(data, options);
      }
